body {
    background: White;
    margin-top: 80px;
}

/* Changing the width of the container (width of the website) */
@media (min-width: 1200px) {
    .container{
        max-width: 1300px;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: Black;
}

/* List: Sidebar */
ul {
    margin: 0;
    list-style: none;
}

a.sidebar-items {
    color: #404040;
}

a {
    color: #33CCFF;
}

a:hover {
    color: #0099FF;
    text-decoration: none;
}

/* Navigation Bar */
.bg-steel {
    background-color: #33CCFF;
}

/* Home + About Button */
.site-header .navbar-nav .nav-link {
    color: #404040;
}

.site-header .navbar-nav .nav-link:hover {
    color: Black;
}

/* Search Button */
button.btn-outline-dark:hover  {
    color: #33CCFF;
}

/* Search Button */
a.btn-primary {
    background: #33CCFF !important;
    color: black !important;
    border: 1px solid Black !important;
}

/* GoodnessGroceries Button */
.container .navbar-brand {
    color:  Black;
}

.container .navbar-brand:hover {
    color:  Black;
}

/* Sidebar (Box) + Products */
.content-section {
    background: White;
    padding: 10px 20px;
    border: 1px solid LightGray;
    border-radius: 4px;
    margin-bottom: 20px;
}

/* Image Size */
img {
    max-width: 10%;
    height: auto;
}

/* Total Users */
#total-users {
    background-color: #75d1f0;
}

/* Total Product Reviews */
#total-prod-reviews {
    background-color: #75d1f0;
}

/* Filter Search Button */
.btn-FilterSearch {
    background-color: #33CCFF;
}

