{% extends 'GoodnessGroceries/base.html' %}
{% block content %}
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3" id="total-users">
                    <div class="card-header">
                        <h5 class="card-title">Number of Users</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total_users}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white  mb-3" id="total-prod-reviews">
                    <div class="card-header">
                        <h5 class="card-title">Number of Products Reviews</h5>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">{{total_prod_reviews}}</h3>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}
