{% extends 'GoodnessGroceries/base.html' %}
{% block content %}
    <!-- Download Button -->
    <div>
        <h4>Dynamic Files Download</h4>
        <a href="{% url 'GoodnessGroceries-download_cashier_ticket_products' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Cashier Tickets Products CSV File</a>
        <a href="{% url 'GoodnessGroceries-download_product_reviews' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Product Reviews CSV File</a>
        <a href="{% url 'GoodnessGroceries-download_monitoring_data' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Monitoring Data CSV File</a>
    </div>
    <br>
    <div>
        <h4>Static Files Download</h4>
        <a href="{% url 'GoodnessGroceries-download_static_products' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Static Products CSV File</a>
        <a href="{% url 'GoodnessGroceries-download_static_indicators' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Static Indicators CSV File</a>
        <a href="{% url 'GoodnessGroceries-download_static_indicator_categories' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Static Indicator Categories CSV File</a>
    </div>
    <br>
    <!-- Upload Buttons -->
    <div>
        <h4>Static Files Upload</h4>
        <a href="{% url 'GoodnessGroceries-upload_static_products' %}" class="btn btn-primary btn-lg btn-block" role="button">Upload Static Products</a>
        <a href="{% url 'GoodnessGroceries-upload_static_indicators' %}" class="btn btn-primary btn-lg btn-block" role="button">Upload Static Indicators</a>
        <a href="{% url 'GoodnessGroceries-upload_static_indicator_categories' %}" class="btn btn-primary btn-lg btn-block" role="button">Upload Static Indicator Categories</a>
    </div>
{% endblock content %}