{% extends 'GoodnessGroceries/base.html' %}
{% block content %}
    {% for product in products %}
        <article class="content-section">
          <div>
              <h2> {{ product.name }}</h2>
              <h6>Category: <a href="#">{{ product.category }}</a></h6>
              <h6>Price: {{ 10 }}</h6>
              <h6>Sold Units: {{ 44 }}</h6>
              <h6>Provider: {{ product.provider }}</h6>
              <h6>Description: {{ product.description }}</h6>
          </div>
        </article>
    {% endfor %}
{% endblock content %}