{% extends 'GoodnessGroceries/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <a href="{% url 'GoodnessGroceries-download_users' %}" class="btn btn-primary btn-lg btn-block" role="button">Download Users CSV File</a>

    <br>

    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {{ myFilter.form|crispy }}
                <button class="btn btn-FilterSearch" type="submit">Search</button>
              </form>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th style="text-align:left">Participant ID</th>
                        <th style="text-align:center">Status</th>
                        <th style="text-align:center">Phase 2 Date</th>
                        <th style="text-align:right">Change Status</th>
                    </tr>

                    <!-- Listing of users -->
                    {% for user in users %}
                    <tr>
                        <td style="text-align:left">{{user.participant_id}}</td>
                        {% if user.status == 'valid' %}
                            <td style="text-align:center; color: #5cb85c">{{user.status}}</td>
                            <td style="text-align:center; color: #5cb85c">{{user.phase2_Date}}</td> 
                            <td style="text-align:right">
                                 <form action="{% url 'GoodnessGroceries-update_status_of_user_archived' user.participant_id %}" method=POST>
                                    {% csrf_token %}
                                        <button class="btn btn-warning btn-sm" type="submit">Archive</button>
                                </form>
                            </td>
                        {% elif user.status == 'requested' %}
                            <td style="text-align:center; color: #d9534f">{{user.status}}</td>
                            <td></td>
                            <td style="text-align:right">
                                <form style="float: right;margin-left: 20px" action="{% url 'GoodnessGroceries-update_status_of_user' user.participant_id %}" method=POST>
                                    {% csrf_token %}
                                        <button class="btn btn-success btn-sm" type="submit">Validate</button>
                                </form>
                                <form action="{% url 'GoodnessGroceries-update_status_of_user_archived' user.participant_id %}" method=POST>
                                    {% csrf_token %}
                                        <button class="btn btn-warning btn-sm" type="submit">Archive</button>
                                </form>
                            </td>
                        {% elif user.status == 'archived' %}
                            <td style="text-align:center; color: orange">{{user.status}}</td>
                            <td style="text-align:center; color: #5cb85c">{{user.phase2_Date}}</td> 
                            <td style="text-align:right">
                                <form action="{% url 'GoodnessGroceries-update_status_of_user' user.participant_id %}" method=POST>
                                    {% csrf_token %}
                                        <button class="btn btn-success btn-sm" type="submit">Validate</button>
                                </form>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}

                </table>
            </div>
        </div>
    </div>
{% endblock content %}
