{% extends 'GreenBot/base.html' %}
{% block content %}
    <h1>About the GreenBot Project</h1>
    <p> The University of Luxembourg, in partnership together with the Pall Center, founded this project which has for
        objective of promoting ethical and eco-responsible awareness to the consumers during their groceries shopping experience.
        This system, in the form of a virtual shopping companion for customers, should allow to scan a visual reference
        in the package of product, such as a QR code, to inform users about the ethical and eco-friendly attributes of the scanned product.
    </p>
    <p>
        The app is a pilot study which provides ecological and ethical product information to consumers who shop at the Pall Center.
        The purpose of our study is to examine if such a practical and educational tool is useful to consumers,
        and if their shopping behaviour changes during the study. Detailed information about the project is on
        our <a href="https://food.uni.lu/sustainable-shopping-app/" target="_blank">website</a>.
    </p>
    <p>
        This website evaluates and interprets the shopping data such that other members of the study can analyse them.
    </p>
{% endblock content %}
